<style>
	footer
	{
		overflow: hidden;
		text-align: center;
		padding: 3px;
		background-color: #9657bd;
		color: white;
	}
</style>
<footer>
	<div class="bg- text-white" style="background-color: #9657bd;">
		<!-- Grid container -->
		<div class="container p-4">
		<!--Grid row-->
			<div class="row">
		
				<!--Grid column-->
				<div class="col">
				<h5 class="text-uppercase">Created By</h5>
					<a class="text-white">Filip Casey, Sneha Yendluri, Mackenzie Elmhirst, Kelly Walsh, Alex Pedersen, and Sultan Alshakrah</a>
				</div>
				<!--Grid column-->
			</div>
		<!--Grid row-->
		</div>
		<!-- Grid container -->
	
		<!-- Copyright -->
		<div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
			<a href="https://simplemaps.com">
				<image src="https://geotaste-storage.s3.us-east-2.amazonaws.com/images/simplemapslogo.png" width="200" alt="simple maps logo">
			</a>
		</div>
		<!-- Copyright -->
	</div>
</footer>

