<navbar>
	<%-include('./partials/navbar.ejs')%>
</navbar>
	
<header>
	<%-include('./partials/header.ejs')%>
</header>


<main>
	<div class = "jumbotron">
		<h1>About Geotaste</h1>
		<p> Geotaste is a website that allows users to find music based on the country it originated in. There may be playlists generated that compile songs from the same country, but Geotaste allows its users to interact with a physical map and visually see where this music is being produced. 
			It is truly unlike any other website out there. We created this website so that users could be able to learn more about the music and cultures from different places around the world. Simply select the country you'd like to hear music from and a list of 50 songs will appear along with an image and description. Songs are associated with a country based on the location of the record label that produced them. When listening to a song, music from that same artist is suggested. On top of being able to listen to songs you can also create your own account that can be used to see songs you have listened to in the past. 
			</p>
	</div>
	<footer><%-include('./partials/footer')%></footer>
</main>